
*.pyc
__pycache__/
*.sqlite3
db.sqlite3
venv/
*.log
*.pot
*.py[cod]
*.so
.DS_Store
*.coverage
.coverage.*


/env/
/venv/
/ENV/
/env.bak/
/venv.bak/


*/migrations/*

node_modules/
dist/
build/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.cache/
*.env
.eslintcache
.vscode/

package-lock.json
yarn.lock


.idea/
*.iml
.vscode/
*.swp
*.swo
*.swn


*.log
logs/
tmp/
*.tmp



frontend/public/*.png
frontend/public/*.ico
